{
  "comments": false,
  "compact": false,
  "env": {
    "browser": {
      "ignore": [
        "src/embark.js",
        "src/node/index.js",
        "src/standalone/index.js"
      ],
      "presets": [
        ["@babel/env", {
          "modules": false,
          "targets": {"browsers": ["last 1 version", "not dead", "> 0.2%"]}
        }]
      ]
    },
    "node": {
      "ignore": ["src/browser.js"],
      "presets": [
        ["@babel/env", {
          "targets": {"node": "8.11.3"}
        }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
