{
  "comments": false,
  "compact": false,
  "ignore": ["src/browser.js"],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    ["@babel/env", {"targets": {"node": "8.11.3"}}]
  ]
}
